
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --Primary: #072ac8;
  --PrimaryLight: #a2d6f9;
  --PrimaryLighter: #d1edff;
  --SecondaryLight: #fce300;
  --SecondaryDark: #ffc600;
  --NeutralLight: #f4f6fc;
  --NeutralMedium: #6b708d;
  --NeutralDark: #292e47;
  --Wrong: #b33a3a;
  --Right: #28a428;
  --White: #fff;
  --Black: #000;
  --Background: #F2F4FC;
}

html,
body {
  text-align: center;
}

* {
  margin: 0 auto;
  padding: 0;
  background: var(--Background);
  font-family: "Roboto", sans-serif;
  max-width: 1100px;
}

a {
  text-decoration: none;
  color: var(--Primary);
  font-weight: bold;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--NeutralDark);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  color: var(--NeutralDark);
  font-weight: normal;
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
  color: var(--NeutralDark);
}

section {
  margin-bottom: 150px !important;
}

/* NAV-BURGUER */

header * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  color: var(--primary-color);
  margin: 3rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav a {
  color: var(--Primary);
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover {
  color: var(--SecondaryDark);
}

.btn {
  background-color: var(--Primary);
  color: var(--White);
  display: inline;
}

.btn a {
  background-color: var(--Primary);
  color: var(--White);
  padding: 15px;
  font-weight: normal;
}

.btn a#contact-btn:hover {
  color: var(--SecondaryDark);
}

@media (min-width: 500px) and (max-width: 760px) {
  
  .nav ul {
    gap: 2rem;
  }
}
  
.nav-toggle-label {
  display: none;
}

.nav {
  z-index: 100;
}

.chkToggle {
  display: none;
}

.nav-toggle {
  display: none; 
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  position: relative;
  margin-right: 8px;
}

.nav-toggle span {
  background-color:var(--NeutralMedium);
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
}

.nav-toggle span:nth-child(1) {
  top: 0.4rem;
}
.nav-toggle span:nth-child(2) {
  top: 0.9rem;
}
.nav-toggle span:nth-child(3) {
  top: 1.4rem;
}

.chkToggle:checked + .nav-toggle span:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}
.chkToggle:checked + .nav-toggle span:nth-child(2) {
  opacity: 0;
}
.chkToggle:checked + .nav-toggle span:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
}

@media (max-width: 760px) {
  .nav-toggle {
    display: block;
    margin-left: auto; 
  }
  .nav {
    display: none;
    background-color: var(--NeutralDark);
    position: absolute;
    top: 5.5rem; 
    right: 97px;
    width: 20%;
    text-align: left;
    border-top: none;
    opacity: 0.8;
  }

  #chkToggle:checked + .nav-toggle + .nav {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
  }

  .nav li a {
    width: 100%;
    display: inline-block;
    text-align: right;
    background: rgba(190, 192, 195, 0.422);
    color: var(--NeutralDark);
  }
}

@media (min-width: 761px) {
  .nav-toggle {
    display: none;
  }
  .chkToggle {
    display: none;
  }
  .nav {
    display: flex; 
    position: static;
    width: auto;
    padding: 0;
    border-top: none;
  }
  .nav ul {
    flex-direction: row;
    align-items: center;
  }
}

/* NEWSLETTER */

.newsletter {
  padding: 40px 20px;
  margin: 5%;
  background-color: var(--SecondaryLight);
}

.newsletter h2,
.newsletter h3, 
.newsletter form {
  background-color: var(--SecondaryLight);
}

.newsletter h2 {
  margin-bottom: 20px;
}

.newsletter form {
  width: 70%;
}

.newsletter input {
  background-color: var(--White);
  border: none;
  padding: 20px 30px;
  font-size: 18px;
  display: block;
  margin: auto;
}

.newsletter button {
  border: none;
  padding: 20px;
  font-size: 18px;
  display: block;
  margin: auto;
}

.newsletter input[type="email"] {
  background-image: url("/Img/newsletter/mail.svg");
  background-repeat: no-repeat;
  background-position: 5%;
  border: 0,1px solid var(--White);
  text-align: center;
  width: 90%;
}

.newsletter input[type="email"]:hover {
  border: 1px solid var(--Black);
}

.newsletter [type="submit"] {
  background-color: var(--Primary);
  color: var(--White);
}

.newsletter .subscribe-btn:hover {
  cursor: pointer;
  color: var(--SecondaryDark);
}

@media (max-width: 760px) {
  .newsletter {
    margin: 10px auto;
    padding: 20px;
  }

  .newsletter form {
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }
 
  .newsletter input {
    font-size: 10px;
  }

  .newsletter input[type="email"] {
    width: 100%;
  }

  .newsletter-suscribe {
    background-color: var(--SecondaryLight);
  }

  .newsletter-suscribe,
  .newsletter input[type="button"] {
    width: 160px;
  }
}

@media (min-width: 900px) {

  .newsletter form {
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr;
  }

  .newsletter-suscribe,
  .newsletter input[type="button"] {
    width: 200px;
  }

  .newsletter h2 {
    font-size: 40px;
  }

  .newsletter h3 {
    font-size: 30px;
  }
}

/* btnTop*/

.btnTop {
  height: 2000px;
  margin: 0;
  padding: 0;
}

#btnTop {
  position: fixed;
  bottom: 40px;
  right: 25px;
  display: none;
  background-color: transparent;
  background-image: url(/Img/button.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  animation: fadeInUp 0.6s ease;
}

#btnTop:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (min-width: 992px) {
  #btnTop {
    height: 45px;
    width: 45px;
    line-height: 50px !important;
  }
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
  flex-wrap: wrap; 
}

.footer p,
.footer a {
  color: var(--Black);
  font-weight: normal;
}

.footer-info {
  text-align: left;
  align-items: center;
}

.footer-info p {
  margin: 30px 0px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 17px;
  list-style: none;
  gap: 20px;
}

.footer-links li {
  margin: 20px 0;
}

.footer-links a:hover {
  color: var(--Primary);
  text-decoration: underline;
}

@media (min-width: 500px) and (max-width: 760px) {
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer-info {
    margin: 2px 0px;
    text-align: center;
    width: 100%; 
    max-width: 700px;
  }

  .footer-info p {
    text-align: center;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 17px;
    list-style: none;
    width: 100%;
    max-width: 700px;
  }

  .footer-links li {
    flex: 0 1 32%;
    height: 20px;
    margin-bottom: 2%;
  }

  .footer .logo {
    margin-bottom: 20px;
  }

  .footer p {
    text-align: center;
  }
}
