/* HERO */

.hero {
  margin: 60px auto;
  max-width: 80%;
}

.hero-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-bottom: 20px;
  text-align: left;
}

.hero-text div.hero-btns {
  margin: 0;
}

.hero-btns a:hover {
  color: var(--Primary);
  text-decoration: underline;
}

.hero-text a.btn:hover {
  color: var(--SecondaryDark);
  text-decoration: none;
}

.btn2 {
  color: var(--NeutralMedium);
  display: inline;
}

.hero div.hero-btns a {
  padding: 15px;
}

.hero div.hero-btns a.btn {
  font-weight: normal;
}

.hero-images {
  position: relative;
}

.hero-main-img {
  width: 600px;
  max-width: 100%;
}

.hero-card {
  max-width: 250px;
  position: absolute;
  top: 0%;
  left: -15%;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.hero-card-bottom {
  top: auto;
  left: auto;
  right: -15%;
  bottom: -15%;
}

@media (min-width: 760px) and (max-width: 990px) {
  .hero-main-img {
    width: 800px;
  }

  .hero-card {
    max-width: 200px;
  }
}

@media (min-width: 760px) {

  .hero {
    display: flex;
  }

  .hero-card {
    display: inline-block;
  }
}

@media (min-width: 990px) {

  h1 {
    font-size: 40px;
  }

  .hero h3 {
    font-size: 20px;
  }

  .hero-main-img {
    width: 800px;
    max-width: auto;
  }

  .hero-content {
    text-align: left;
    margin-bottom: 50px;
  }

}

/*PARTNERS*/

.partners {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  max-width: 85%;
}

.partner-logo {
  margin: 0 auto;
  filter: grayscale(1);
}

.partner-logo:hover {
  filter: grayscale(0);
}

/* PROJECTS */

.projects {
  margin-top: 50px;
  max-width: 85%;
}

.projects-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin: 0 auto;
  width: 95%;
}

.projects h2 {
  margin: 30px;
  text-align: left;
}

.project-item,
.project-item h4,
.project-item p,
.project-item a {
  background-color: var(--White);
  text-align: left;
  color: var(--Black);
}

.project-item {
  margin: 20px auto;
  padding-bottom: 10px;
  width: 80%;
}

.project-item:hover {
  box-shadow: 10px 5px 5px var(--NeutralMedium);
}

.project-item h4,
.project-item p,
.project-item a {
  margin: 10px 0;
}

.project-item h4,
.project-item p,
.project-item .project-link {
  padding-left: 10px;
}

.project-item p {
  color: var(--NeutralMedium);
  font-weight: normal;
  margin-bottom: 50px;
}

.project-item a {
  color: var(--Primary);
}

.project-item img {
  display: inline;
  width: 100%;
  height: 200px;
}

.project-link {
  margin-top: 50px;
  color: var(--Primary);
}

.project-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.project-details {
  background-color: var(--White);
  margin: 10px;
}

@media (max-width: 765px) {
  
  .projects {
    width: 90%;
    margin: 0 auto;
  }

  .project-items {
    width: 40%;
  }

  .projects-list {
    display: flex;
    flex-flow: row wrap;
  }
}

/* REVIEWS */

.reviews {
  background-color: var(--NeutralDark);
  background-image: url("/Img/testimonial-section/orbit.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 80px 0;
  margin: 3%;
  text-align: center;
}

.reviews-img {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
}

.reviews-img img {
  max-width: 75px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}

.reviews-img1 {
  top: 5%;
  left: 5%;
  right: auto;
  bottom: auto;
}

.reviews-img2 {
  top: 5%;
  left: auto;
  right: 5%;
  bottom: auto;
}

.reviews-img3 {
  top: auto;
  left: 5%;
  right: auto;
  bottom: 5%;
}

.reviews-img4 {
  top: auto;
  left: auto;
  right: 5%;
  bottom: 5%;
}

.reviews-content {
  background-color: var(--NeutralDark);
  padding: 20px;
}

.reviews-content h3 {
  color: var(--White);
  background-color: var(--NeutralDark);
  font-weight: bold;
  font-size: 20px;
}

.reviews-content p {
  background-color: var(--NeutralDark);
  color: var(--SecondaryDark);
  font-size: 16px;
}

.reviews-content .Circle {
    margin: 30px 0px;
}

.reviews-profile {
  background-color: var(--NeutralDark);
  display: flex;
  align-items: center;
  max-width: 200px;
}

.profile-info,
.profile-info p.name,
.profile-info p.company {
  background-color: var(--NeutralDark);
  text-align: left;
}

.profile-info p.name {
  color: var(--PrimaryLight);
}

.profile-info p.company {
  color: var(--White);
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media (min-width: 400px) and (max-width: 760px) {

  .reviews-img {
    display: none;
  }

  .reviews {
    margin: 30px auto;
  }

  .reviews-content h3 {
    font-size: 28px;
  }

  .reviews-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .profile-info p.name,
  .profile-info p.company {
   font-size: 14px;
   margin: 0px;
  }

}

@media (max-width: 761px) {
  
  .reviews-content h3 {
    font-size: 35px;
  }

  .reviews-content p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .profile-info p.name,
  .profile-info p.company {
   font-size: 18px;
   margin: 0px;
  }

}

@media (min-width: 990px) {

  .reviews-content h3 {
    font-size: 40px;
  }

  .reviews-content p {
    font-size: 20px;
  }

}


/* SERVICES */

.services {
  max-width: 85%;
}

.services-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  width: 98%;
}

.service-item {
   margin: 10px auto;
   padding: 30px 15px;
   width: 90%;
   max-width: 1200px;
}
 
.service-item:hover {
   box-shadow: 10px 5px 5px var(--NeutralMedium);
}

.services h2 {
  margin: 30px;
  text-align: left;
}

.service-item,
.service-item h4,
.service-item p,
.service-item a {
  background-color: var(--White);
  text-align: left;
  padding: 10px;
}

.service-item p {
  color: var(--NeutralMedium);
  margin-bottom: 50px;
}

.service-icon {
  background-color: var(--PrimaryLighter);
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 40px;
  height: 40px;
}

.service-icon img {
  background-color: var(--PrimaryLighter);
}

@media (max-width: 760px) {

  .services {
    width: 80%;
    margin: 0 auto;
  }

  .services-list {
    display: flex;
    flex-flow: row wrap;
  }

}