
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --Primary: #072ac8;
  --PrimaryLight: #a2d6f9;
  --PrimaryLighter: #d1edff;
  --SecondaryLight: #fce300;
  --SecondaryDark: #ffc600;
  --NeutralLight: #f4f6fc;
  --NeutralMedium: #6b708d;
  --NeutralDark: #292e47;
  --Wrong: #b33a3a;
  --Right: #28a428;
  --White: #fff;
  --Black: #000;
  --Background: #F2F4FC;
}

html,
body {
  text-align: center;
}

* {
  margin: 0 auto;
  padding: 0;
  background: var(--Background);
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: var(--NeutralMedium);
  font-weight: bold;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--NeutralDark);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  color: var(--NeutralDark);
  font-weight: normal;
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
  color: var(--NeutralDark);
}

section {
  margin-bottom: 150px !important;
}

header * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 95%;
}

.menu-selected {
  color: var(--Primary);
}

.nav {
   display: flex;
   justify-content: space-between;
   padding-bottom: 0;
   height: 70px;
   align-items: center;
}

.nav-menu {
   display: flex;
   margin-right: 30px;
   margin-top: 30px;
   flex-direction: row;
   justify-content: flex-end;
}

.nav-link,
.logo {
  text-decoration: none;
  margin-left: 40px;
}

.nav-link:hover {
  color: var(--Primary);
  text-decoration: underline;
}

.nav-menu li {
  text-align: center;
  margin: 15px auto;
  list-style-type: none;
}

.logo {
  position: static;
  margin-left: 90px;
  margin-top: 30px;
}

.nav a.btn {
  background-color: var(--Primary);
  color: var(--White);
  padding: 15px;
  font-weight: normal;
}

.nav-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

.btn {
margin-top: 30px;
}

#contact-btn:hover {
  color: var(--SecondaryDark);
}

#chkToggle:checked+ul.nav-menu,
#chkToggle:checked+a.btn {
  display: block;
}


/* FOOTER */

.footer {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
            
.footer p,
.footer a {
  color: var(--neutralMedium);
  font-weight: normal;
  text-align: left;
}
  
.footer-info {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  text-align: left; 
  padding-top: 30px;
}
  
.footer-info img {
  width: 60px; 
  margin: 0px 0px;
  height: auto;
}   
  
.footer-info p {
  margin: 30px 0px;
}
            
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 17px;
  gap: 25px;
  list-style: none;
  justify-content: right;
  }
            
.footer-links li {
    margin: 20px 0;
}
            
.footer-links a:hover {
  color: var(--Primary);
  text-decoration: underline;
}



        






@media (min-width: 768px) {
  .newsletter {
    margin: 40px auto;
    padding: 80px;
    -top: 40px;
  }

  .newsletter form {
    display: grid;
    gap: 55px;
    grid-template-columns: 2fr 1fr;
  }

  .newsletter h2 {
    font-size: 40px;
  }

  .newsletter h3 {
    font-size: 30px;
  }

  .newsletter input {
    font-size: 20px;
  }

  .newsletter input[type="email"] {
    width: 100%;
  }

  .newsletter-suscribe {
    background-color: var(--SecondaryLight);
  }

  .newsletter-suscribe,
  .newsletter input[type="button"] {
    width: 160px;
  }
}

@media (min-width: 992px) {
  .newsletter form {
    gap: 50px;
  }

  .newsletter-suscribe,
  .newsletter input[type="button"] {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav,
  #chkToggle:checked + a.btn {
    display: flex;
  }

  .nav-menu {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-menu li {
    margin: 0;
  }

  .nav-link {
    margin-left: 40px;
  }

  .nav-toggle {
    display: none;
  }

  .nav-link:hover {
    color: var(--Primary);
  }

  #menuBtn {
    margin-top: 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .footer .logo {
    margin-bottom: 20px;
  }

  .footer p {
    text-align: left;
  }

  .address-info p {
    margin: 30px 0;
  }

  .address-info {
    text-align: left;
  }

  .sitemap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sitemap li {
    flex: 0 32%;
    height: 60px;
    margin-bottom: 2%;
  }
}